:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  margin: 2rem;
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
  background: white;
}

hr {
  margin: 1rem 0;
}

video {
  margin-bottom: 1rem;
  background: black;
  max-width: 100%;
  max-height: 300px;
  aspect-ratio: 16 / 9;
  border: 0.5rem solid #555;
  border-radius: 0.5rem;
  width: 100%;
}

h3 {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.center {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex !important;
  margin-top: 2.5rem;
  align-items: center;
  justify-content: space-around;
}

.button-container .button {
  width: 45%;
}

.static-controls {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin-top: 2rem;
}

.static-controls button {
  display: inline-block;
  margin: 1rem;
}

.participant-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.relative {
  position: relative;
}

.overlay-pill {
  position: absolute;
  bottom: 40px;
  left: 24px;
  padding: 4px 12px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 20px;
  font-size: 14px;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.local-video,
.remote-participant-video {
  max-height: 300px;
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.device-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.info-box {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0;
}

.info-box h4 {
  margin-top: 0;
  color: #606c76;
}

.info-box ol {
  margin-left: 1.5rem;
}
